<!DOCTYPE html>
<html>
    <head>
        <!-- Import milligram.io (CSS-Framework) -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

        <style>
            .main-container {
                width: 600px;
                height: 800px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .error {
                color: darkred;
                background-color: lightcoral;
                border: 2px solid darkred;
                padding: 20px;
                border-radius: 2px;
                font-weight: bold;
            }
            .text-center {
                text-align: center;
            }
            .mt {
                margin-top: 60px;
            }
            .mt--small {
                margin-top: 20px;
            }
            .inline-block {
                display: inline-block;
            }
            .hidden {
                display: none;
            }
            .button {
                text-overflow: ellipsis;
                height: auto;
                max-width: 100%;
                line-height: 2;
                overflow: hidden;
                padding: 12px;
            }
        </style>
    </head>
    <body>

        <div class="container main-container">

            <h2>Omoku public API example</h2>

            <div id="error" class="hidden error">

            </div>


            <div id="stepSymbol">
                <p class="mt">
                    Please select your <strong>trading pair</strong> you'd like to execute:
                </p>

                <div class="text-center mt--small">
                    {{range .}}
                        <div>
                            <button class="button" onclick="selectCurrencyPair('{{.Symbol}}')">{{.SourceCurrency.Name}} ({{.SourceCurrency.Character}}) &rarr; {{.TargetCurrency.Name}} ({{.TargetCurrency.Character}})</button>
                        </div>
                    {{end}}
                </div>
            </div>

            <div id="stepPaymentMethod" class="hidden">
                <p class="mt">
                    Please select the <strong>payment method</strong> you'd like to buy the currency with:
                </p>

                <div class="text-center mt--small">
                    <div id="paymentMethods">
                    </div>
                </div>
            </div>

            <div id="stepLoginMail" class="hidden">
                <p class="mt">
                    To go on with your order please provide your <stronng>mail</stronng>:
                </p>

                <fieldset>
                    <label for="loginMail">Your mail</label>
                    <input type="email" placeholder="your@mail.tld" id="loginMail">
                    <button class="button-primary" onclick="sendLoginCode ('loginMail')">Send mail</button>
                </fieldset>
            </div>

            <div id="stepLoginConfirmation" class="hidden">
                <p class="mt">
                    Now please authorize this app to log in with your account by providing the <strong>security-code</strong> from you mail:
                </p>

                <fieldset>
                    <label for="loginCode">Your security-code</label>
                    <input type="text" placeholder="123456" id="loginCode">
                    <button class="button-primary" onclick="login ('loginCode')" >Verify code</button>
                </fieldset>
            </div>

            <div id="stepAmount" class="hidden">
                <p class="mt">
                    Your personal limit is: <strong><span id="limitAmount"></span></strong><br />
                    The actual course of the currencies are <strong><span id="sourceCourse"></span></strong> and <strong><span id="targetCourse"></span></strong>
                </p>
                <p class="mt--small">
                    Please chose the <strong>amount</strong> you'd like to exchange:
                </p>

                <fieldset>
                    <label for="exchangeAmount">Your exchange amount</label>
                    <input type="number" placeholder="10.00" id="exchangeAmount" onkeyup="amountChanged ('exchangeAmount')">
                    <blockquote id="exchangeTargetAmount"></blockquote>
                    <button class="button-primary" onclick="amountSubmit('exchangeAmount')" >Select amount</button>
                </fieldset>
            </div>

            <div id="stepPaymentDetails" class="hidden">
                <p class="mt">
                    Please chose the <strong>detail</strong> you'd like to execute the payment with:
                </p>

                <div class="text-center mt--small">
                    <div id="paymentDetails">
                    </div>
                </div>
                <input type="text" placeholder="new address" id="newPaymentDetail" />
                <button onclick="newPaymentDetail()">Use new detail</button>
            </div>

            <div id="stepTargetPaymentDetails" class="hidden">
                <p class="mt">
                    Please chose the <strong>detail</strong> you'd like to execute the payment to:
                </p>

                <div class="text-center mt--small">
                    <div id="targetPaymentDetails">
                    </div>
                </div>
                <input type="text" placeholder="new address" id="newTargetPaymentDetail" />
                <button onclick="newPaymentDetail(true)">Use new detail</button>
            </div>

            <div id="stepConnections" class="hidden">
                <p class="mt">
                    Please chose the <strong>connnection</strong> you'd like to execute the payment with:
                </p>

                <div class="text-center mt--small">
                    <div id="connections">
                    </div>
                </div>
            </div>

            <div id="stepCreateOrder" class="hidden">
                <p class="mt">
                    Please review your order details and confirm your order creation:
                </p>

                <div class="text-center mt--small">
                    Somethinng to do ;)
                </div>
            </div>
          
        </div>

        <div id="TESTLOG" style="color: red;"></div>

        

        <script>
            let targetCurrency = "";
            let sourceCourse = 0;
            let targetCourse = 0;
            let isConnnectionRequired = false;

            const $error = document.getElementById ("error");
            const showError = (message) => {
                $error.innerText = message;
                $error.classList.remove ("hidden");
            }
            const log = (content) => {
                document.getElementById ("TESTLOG").innerText = document.getElementById ("TESTLOG").innerText + "---" + content;
            } 
            const showNextStep = (previousStepId, nextStepId) => {
                $error.classList.add ("hidden");
                document.getElementById (previousStepId).classList.add ("hidden");
                document.getElementById (nextStepId).classList.remove ("hidden");
            }
            const selectCurrencyPair = async (currencyPair) => {
                const paymentMethods = await setSymbol (currencyPair);
                
                let template = ``;
                paymentMethods.sourcePaymentMethods.forEach (paymentMethod => {
                    template += `
                        <div>
                            <button class="button" onclick="selectPaymentMethod('${paymentMethod.key}')">${paymentMethod.name}</button>
                        </div>
                    `;
                });
                document.getElementById ("paymentMethods").innerHTML = template;

                showNextStep ("stepSymbol", "stepPaymentMethod");
            }
            const selectPaymentMethod = async (paymentMethodKey) => {
                const paymentMethod = await setPaymentMethod (paymentMethodKey);
                isConnnectionRequired = paymentMethod.isConnnectionRequired;

                showNextStep ("stepPaymentMethod", "stepLoginMail");
            }
            const sendLoginCode = async (mailId) => {
                const mail = document.getElementById (mailId).value;
                const response = await initializeSession (mail);
                
                if (response.login == "true") {
                    return showNextStep ("stepLoginMail", "stepLoginConfirmation");;
                }
                return showError (response.err);
            };
            const login = async (loginCodeId) => {
                const verificationCode = document.getElementById (loginCodeId).value;
                const response = await confirmSession (verificationCode);

                if (response.loginConf == "true") {
                    await loadAmountDetails ();
                    return showNextStep ("stepLoginConfirmation", "stepAmount");
                }
                return showError (response.err);
            };
            const loadAmountDetails = async () => {
                const course = await getCourse ();
                const limit = await getLimit ();

                targetCurrency = course.targetCourse.currencyShort;
                targetCourse = course.targetCourse.course;
                sourceCourse = course.sourceCourse.course;
                document.getElementById ("limitAmount").innerText = limit.limit + " " + limit.symbol;
                document.getElementById ("sourceCourse").innerText = course.sourceCourse.course + " " + course.sourceCourse.currencyShort;
                document.getElementById ("targetCourse").innerText = course.targetCourse.course + " " + course.targetCourse.currencyShort;
                document.getElementById ("exchangeAmount").min = 0;
                document.getElementById ("exchangeAmount").max = limit.limit;
                document.getElementById ("exchangeAmount").placeholder = course.sourceCourse.currencyShort;
            }
            const amountChanged = async (inputId) => {
                document.getElementById ("exchangeTargetAmount").innerText = "Actual the amount will convert to " + (document.getElementById (inputId).value * sourceCourse) + " " + targetCurrency + ".";
            }

            const renderConnections = async () => {
                const connectionResponse = await getConnections ();

                let template = ``;
                connectionResponse.connections.forEach (connection => {
                    template += `
                        <div>
                            <button class="button" onclick="selectConnection('${connection.identifier}')">${connection.identifier}<br /><small>(${connection.source.paymentDetail.address} -> ${connection.target.paymentDetail.address})</small></button>
                        </div>
                    `;
                });
                document.getElementById ("connections").innerHTML = template;
            };
            const renderPaymentDetails = async (detailResponse = null) => {
                const isSource = !detailResponse;
                if (isSource) {
                    detailResponse = await getDetails ();
                }
                let template = ``;
                detailResponse.paymentDetails.forEach (detail => {
                    template += `
                        <div>
                            <button class="button" onclick="select${ isSource ? "" : "Target" }PaymentDetail('${detail.id}')">${detail.address}</button>
                        </div>
                    `;
                });
                document.getElementById (isSource ? "paymentDetails" : "targetPaymentDetails").innerHTML = template;
            };
            const amountSubmit = async (inputId) => {
                const amount = parseFloat (document.getElementById (inputId).value);
                const response = await setAmount (amount);

                // TODO: remove !
                if (!isConnnectionRequired) {
                    await renderConnections ();
                    return showNextStep ("stepAmount", "stepConnections");
                } 
                await renderPaymentDetails ();
                return showNextStep ("stepAmount", "stepPaymentDetails");
            };

            const selectConnection = async (identifier) => {
                await setConnection (identifier);
                return showNextStep ("stepConnections", "stepCreateOrder");
            }
            const selectPaymentDetail = async (identifier) => {
                const targetPaymentDetails = await setSourcePaymentDetail (identifier);
                await renderPaymentDetails (targetPaymentDetails);
                return showNextStep ("stepPaymentDetails", "stepTargetPaymentDetails");
            }
            const selectTargetPaymentDetail = async (identifier) => {
                await setTargetPaymentDetail (identifier);
                return showNextStep ("stepTargetPaymentDetails", "stepCreateOrder");
            }

            const newPaymentDetail = async (isTarget = false) => {
                const result = await createDetail (isTarget, document.getElementById (!isTarget ? "newPaymentDetail" : "newTargetPaymentDetail").value);
                if (result.success [0] == "true") {
                    if (!isTarget) {
                        await selectPaymentDetail (result.identifier [0]);
                    } else {
                        await selectTargetPaymentDetail (result.identifier [0]);
                    }
                    return;
                }
                return showError (result.err);
            }

            // Create order
        </script>
    </body>
</html>


<!-- 1. SELECT Currency Pair -->
<!-- 2. Select Payment-Method -->
<!-- 3. Show Course + User-Limits -->

<!-- 4. Show connections/visible contracts -->
<!-- 5. Create Payment-details/contract -->

<!-- 6. create order -->



<!-- <h1>{{.PageTitle}}</h1>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <li class="done">{{.Title}}</li>
        {{else}}
            <li>{{.Title}}</li>
        {{end}}
    {{end}}
</ul> -->