<!DOCTYPE html>
<html>
    <head>
        <!-- Import milligram.io (CSS-Framework) -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

        <style>
            .main-container {
                width: 600px;
                height: 800px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .error {
                color: darkred;
                background-color: lightcoral;
                border: 2px solid darkred;
                padding: 20px;
                border-radius: 2px;
                font-weight: bold;
            }
            .text-center {
                text-align: center;
            }
            .mt {
                margin-top: 60px;
            }
            .mt--small {
                margin-top: 20px;
            }
            .inline-block {
                display: inline-block;
            }
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>

        <div class="container main-container">

            <h2>Omoku public API example</h2>

            <div id="error" class="hidden error">

            </div>


            <div id="stepSymbol">
                <p class="mt">
                    Please select your <strong>trading pair</strong> you'd like to execute:
                </p>

                <div class="text-center mt--small">
                    {{range .}}
                        <div>
                            <button class="button" onclick="selectCurrencyPair('{{.Symbol}}')">{{.SourceCurrency.Name}} ({{.SourceCurrency.Character}}) &rarr; {{.TargetCurrency.Name}} ({{.TargetCurrency.Character}})</button>
                        </div>
                    {{end}}
                </div>
            </div>

            <div id="stepPaymentMethod" class="hidden">
                <p class="mt">
                    Please select the <strong>payment method</strong> you'd like to buy the currency with:
                </p>

                <div class="text-center mt--small">
                    <div id="paymentMethods">
                    </div>
                </div>
            </div>

            <div id="stepLoginMail" class="hidden">
                <p class="mt">
                    To go on with your order please provide your mail:
                </p>

                <fieldset>
                    <label for="loginMail">Your mail</label>
                    <input type="email" placeholder="your@mail.tld" id="loginMail">
                    <button class="button-primary" onclick="sendLoginCode ('loginMail')">Send mail</button>
                </fieldset>
            </div>

            <div id="stepLoginConfirmation" class="hidden">
                <p class="mt">
                    Now please authorize this app to log in with your account by providing the security-code from you mail:
                </p>

                <fieldset>
                    <label for="loginCode">Your security-code</label>
                    <input type="text" placeholder="123456" id="loginCode">
                    <button class="button-primary" onclick="login ('loginCode')" >Verify code</button>
                </fieldset>
            </div>
          
        </div>

        

        <script>
            const $error = document.getElementById ("error");
            showError = (message) => {
                $error.innerText = message;
                $error.classList.remove ("hidden");
            }
            showNextStep = (previousStepId, nextStepId) => {
                $error.classList.add ("hidden");
                document.getElementById (previousStepId).classList.add ("hidden");
                document.getElementById (nextStepId).classList.remove ("hidden");
            }
            selectCurrencyPair = async (currencyPair) => {
                const paymentMethods = await setSymbol (currencyPair);
                
                let template = ``;
                paymentMethods.sourcePaymentMethods.forEach (paymentMethod => {
                    template += `
                        <div>
                            <button class="button" onclick="selectPaymentMethod('${paymentMethod.key}')">${paymentMethod.name}</button>
                        </div>
                    `;
                });
                document.getElementById ("paymentMethods").innerHTML = template;

                showNextStep ("stepSymbol", "stepPaymentMethod");
            }
            selectPaymentMethod = async (paymentMethodKey) => {
                const paymentMethod = await setPaymentMethod (paymentMethodKey);

                showNextStep ("stepPaymentMethod", "stepLoginMail");
            }
            sendLoginCode = async (mailId) => {
                const mail = document.getElementById (mailId).value;
                const response = await initializeSession (mail);
                
                if (response.login == "true") {
                    return showNextStep ("stepLoginMail", "stepLoginConfirmation");;
                }
                return showError (response.err);
            };
            login = async (loginCodeId) => {
                const verificationCode = document.getElementById (loginCodeId).value;
                const response = await confirmSession (verificationCode);

                if (response.loginConf == "true") {
                    return showNextStep ("stepLoginConfirmation", "");;
                }
                return showError (response.err);
            };

            // Fetch course
            // Fetch limits
            // Select Amount!

            // Fetch connections/contracts
            // Fetch Payment-Details

            // Create connection
            // Create Payment-Detail

            // Create order
        </script>
    </body>
</html>


<!-- 1. SELECT Currency Pair -->
<!-- 2. Select Payment-Method -->
<!-- 3. Show Course + User-Limits -->

<!-- 4. Show connections/visible contracts -->
<!-- 5. Create Payment-details/contract -->

<!-- 6. create order -->



<!-- <h1>{{.PageTitle}}</h1>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <li class="done">{{.Title}}</li>
        {{else}}
            <li>{{.Title}}</li>
        {{end}}
    {{end}}
</ul> -->